<!--Modal for Item Details-->
<div id="item-detail-modal" class="modal">
	<div class="modal-content-details">
		<span class="close">&times;</span>
		<div id=item-img-container>
    		<img id="item-img-modal" src="" />
    	</div>
    	<p class="label-modal">Name:</p>
    		<p id="item-name-modal">Name of item</p>
    	<p class="label-modal">Description:</p>
    		<p id="item-desc-modal">Desc of item</p>
    	<p class="label-modal">Category:</p>
    		<p id="item-cat-modal">Category of item</p>
    	<p class="label-modal">Quantity:</p>
    		<p id="item-quantity-modal">Quantity of item</p>
    </div>
</div>